services:
  nuxt:
    container_name: portfolio-nuxt
    platform: linux/amd64
    restart: always
    build:
      context: .
      dockerfile: Dockerfile
      target: dev
    env_file:
      - .env
    ports:
      - "3000:3000"
    volumes:
      - ./:/app
      - /app/node_modules

  nuxt-prod:
    container_name: portfolio-nuxt-prod
    platform: linux/amd64
    restart: always
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - NODE_ENV=production
        - NUXT_GTAG_ID=${NUXT_GTAG_ID}
    env_file:
      - .env
    ports:
      - "3001:3000"