services:
  nuxt:
    container_name: portfolio-nuxt
    platform: linux/amd64
    restart: always
    build:
      context: .
      dockerfile: Dockerfile
      target: dev
    env_file:
      - .env
    ports:
      - '3000:3000'
    volumes:
      - ./:/app
      - /app/node_modules
      - /app/.data
