version: '3.3'

services:
  nuxt:
    build:
      context: .
    image: portfolio_nuxt
    container_name: portfolio_nuxt
    command: npm run dev
    volumes:
      - .:/app
      - /app/node_modules
    ports:
      - "3000:3000"