services:
  nuxt-prod:
    container_name: portfolio-nuxt-prod
    platform: linux/amd64
    restart: always
    build:
      context: .
      dockerfile: Dockerfile
      target: prod
      args:
        - NODE_ENV=production
        - NUXT_GTAG_ID=${NUXT_GTAG_ID}
    env_file:
      - .env
    ports:
      - '3001:3000'
