services:
  nuxt:
    image: ghcr.io/kevindebenedetti/portfolio-nuxt:dev-latest
    pull_policy: always
    restart: always
    expose:
      - 80
    env_file:
      - .env
    networks:
      - dokploy-network
    labels:
      - traefik.enable=true

      - traefik.http.routers.portfolio-dev.rule=Host(`dev.kevindb.dev`)
      - traefik.http.routers.portfolio-dev.entrypoints=websecure
      - traefik.http.routers.portfolio-dev.tls.certResolver=letsencrypt
      - traefik.http.services.portfolio-dev.loadbalancer.server.port=80
      - traefik.http.middlewares.remove-powered-by.headers.customresponseheaders.X-Powered-By=
      - traefik.http.routers.portfolio-dev.middlewares=remove-powered-by

networks:
  dokploy-network:
    external: true
