name: Build Docker Image

on:
  push:
    branches:
      - main
      - dev

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      image_tag: ${{ steps.set_vars.outputs.image_tag }}
    steps:
    - uses: actions/checkout@v4

    - name: Set environment variables
      run: |
        BRANCH_NAME=${GITHUB_REF##*/}
        IMAGE_TAG="$BRANCH_NAME-${GITHUB_RUN_NUMBER}"
        REPOSITORY_LOWERCASE=$(echo "${GITHUB_REPOSITORY}" | tr '[:upper:]' '[:lower:]')
        echo "IMAGE_TAG=$IMAGE_TAG" >> $GITHUB_ENV
        echo "REPOSITORY_LOWERCASE=$REPOSITORY_LOWERCASE" >> $GITHUB_ENV

    - uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build and push Docker image
      run: |
        docker build \
          --build-arg NUXT_GTAG_ID="${{ secrets.NUXT_GTAG_ID }}" \
          --build-arg NODE_ENV="${{ secrets.NODE_ENV }}" \
          -t ghcr.io/${{ env.REPOSITORY_LOWERCASE }}:${{ env.IMAGE_TAG }} .
        docker push ghcr.io/${{ env.REPOSITORY_LOWERCASE }}:${{ env.IMAGE_TAG }}

    - name: Logout
      run: docker logout ghcr.io
