name: CD

on:
  push:
    branches:
      - main
      - dev
  workflow_dispatch:

permissions:
  contents: write
  packages: write

jobs:
  deploy:
    name: Deploy to Dokploy
    uses: ./.github/workflows/deploy.yml
    secrets:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      DOKPLOY_API_TOKEN: ${{ secrets.DOKPLOY_API_TOKEN }}
      DOKPLOY_COMPOSE_ID_PROD: ${{ secrets.DOKPLOY_COMPOSE_ID_PROD }}
      DOKPLOY_COMPOSE_ID_DEV: ${{ secrets.DOKPLOY_COMPOSE_ID_DEV }}
