name: Deploy on Dokploy

on:
  workflow_run:
    workflows: ["Tag Image as Branch-Latest"]
    types:
      - completed

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    steps:
    - name: Determine Compose ID
      run: |
        COMPOSE_ID=${{ secrets.DOKPLOY_COMPOSE_ID_PROD }}
        if [[ "${{ github.event.workflow_run.head_branch }}" == "dev" ]]; then
          COMPOSE_ID=${{ secrets.DOKPLOY_COMPOSE_ID_DEV }}
        fi
        echo "COMPOSE_ID=$COMPOSE_ID" >> $GITHUB_ENV

    - name: Trigger Dokploy Deploy
      run: |
        curl -X POST 'https://dokploy.kevindb.dev/api/compose.deploy' \
          -H 'accept: application/json' \
          -H 'Content-Type: application/json' \
          -H 'x-api-key: ${{ secrets.DOKPLOY_API_TOKEN }}' \
          -d '{
            "composeId": "'"${COMPOSE_ID}"'"
          }'
