name: Deploy on Dokploy

on:
  workflow_run:
    workflows: ["Build Docker Image"]
    types: [completed]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Get branch name
      uses: actions/github-script@v7
      id: get_branch
      with:
        script: |
            core.setOutput('branch', '${{ github.event.workflow_run.head_branch }}')

    - name: Determine Compose ID
      run: |
        COMPOSE_ID=${{ secrets.DOKPLOY_COMPOSE_ID_PROD }}
        if [[ "${{ steps.get_branch.outputs.branch }}" == "dev" ]]; then
          COMPOSE_ID=${{ secrets.DOKPLOY_COMPOSE_ID_DEV }}
        fi
        echo "COMPOSE_ID=$COMPOSE_ID" >> $GITHUB_ENV

    - name: Trigger Dokploy Deploy
      run: |
        curl -X POST 'https://REDACTED_URL/api/compose.deploy' \
          -H 'accept: application/json' \
          -H 'Content-Type: application/json' \
          -H 'x-api-key: ${{ secrets.DOKPLOY_API_TOKEN }}' \
          -d '{
            "composeId": "'"${COMPOSE_ID}"'"
          }'
