name: Dokploy - vps_lab

on:
    push:
        branches:
            - main

jobs:
    ghcr:
        runs-on: ubuntu-latest
        permissions:
            contents: write
            packages: write
            # attestations: write
            # id-token: write

        steps:
        - name: Checkout repository
          uses: actions/checkout@v4

        - name: Log in to GitHub Container Registry
          uses: docker/login-action@v3
          with:
            registry: ghcr.io
            username: ${{ github.actor }}
            password: ${{ secrets.GITHUB_TOKEN }}

        - name: Build and push Nuxt Docker image
          run: |
            docker build \
              --build-arg NUXT_GTAG_ID="${{ secrets.NUXT_GTAG_ID }}" \
              --build-arg NODE_ENV="${{ secrets.NODE_ENV }}" \
              -t ghcr.io/${{ vars.repository_owner }}/portfolio:latest ./
            docker push ghcr.io/${{ vars.repository_owner }}/portfolio:latest

        - name: Logout from GHCR
          run: docker logout ghcr.io

        - name: Trigger Dokploy Auto Deploy
          run: |
            curl -X 'POST' \
                'https://REDACTED_URL/api/compose.deploy' \
                -H 'accept: application/json' \
                -H 'Content-Type: application/json' \
                -H 'Authorization: Bearer ${{ secrets.DOKPLOY_API_TOKEN }}' \
                -d '{
                "composeId": "${{ secrets.DOKPLOY_COMPOSE_ID }}"
            }'