name: Dokploy - vps_lab

on:
  push:
    branches-ignore:
      - '*'
    # branches:
    #   - main
    #   - dev

jobs:
  ghcr:
    runs-on: ubuntu-latest
    permissions:
        contents: write
        packages: write
        # attestations: write
        # id-token: write

    env:
      REGISTRY: ghcr.io
      IMAGE_NAME: ${{ github.repository }}
      BRANCH_NAME: ${{ github.ref_name }}
      SHORT_SHA: ${{ github.sha }}
      VERSION: ${{ github.run_number }}

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Log in to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Set environment variables
      run: |
        echo "IMAGE_TAG=${{ env.BRANCH_NAME }}-${{ env.VERSION }}" >> $GITHUB_ENV
        echo "COMPOSE_ID=${{ secrets.DOKPLOY_COMPOSE_ID_PROD }}" >> $GITHUB_ENV
        if [ "${{ env.BRANCH_NAME }}" = "develop" ]; then
          echo "COMPOSE_ID=${{ secrets.DOKPLOY_COMPOSE_ID_DEV }}" >> $GITHUB_ENV
        fi

    - name: Build and push Nuxt Docker image
      run: |
        docker build \
          --build-arg NUXT_GTAG_ID="${{ secrets.NUXT_GTAG_ID }}" \
          --build-arg NODE_ENV="${{ secrets.NODE_ENV }}" \
          -t ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }} .
        docker push ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }}

    - name: Logout from GHCR
      run: docker logout ghcr.io

    - name: Trigger Dokploy Auto Deploy
      run: |
        curl -X 'POST' \
            'https://DOKPLOY_URL_REDACTED/api/compose.deploy' \
            -H 'accept: application/json' \
            -H 'Content-Type: application/json' \
            -H 'x-api-key: ${{ secrets.DOKPLOY_API_TOKEN }}' \
            -d '{
            "composeId": "${{ secrets.DOKPLOY_COMPOSE_ID }}"
        }'