name: Deploy Portfolio

on:
    push:
      # branches:
      #   - main
      branches-ignore:
        - '*'

jobs:
    ghcr:
        runs-on: ubuntu-latest
        permissions:
            contents: write
            packages: write

        steps:
        - name: Checkout repository
          uses: actions/checkout@v4

        - name: Log in to GitHub Container Registry
          uses: docker/login-action@v3
          with:
            registry: ghcr.io
            username: ${{ github.actor }}
            password: ${{ secrets.GITHUB_TOKEN }}

        - name: Build and push App Docker image
          run: |
            docker build \
              --build-arg NUXT_GTAG_ID="${{ secrets.NUXT_GTAG_ID }}" \
              --build-arg NODE_ENV="${{ secrets.NODE_ENV }}" \
              -t ghcr.io/${{ vars.repository_owner }}/portfolio:latest ./
            docker push ghcr.io/${{ vars.repository_owner }}/portfolio:latest

        - name: Logout from GHCR
          run: docker logout ghcr.io

    deploy:
      needs: [ghcr]
      runs-on: ubuntu-latest
      steps:
        - name: Deploy using ssh
          uses: appleboy/ssh-action@v1.0.3
          with:
            host: ${{ secrets.SSH_HOST }}
            username: ${{ secrets.SSH_USERNAME }}   
            key: ${{ secrets.SSH_KEY }}
            port: ${{ secrets.SSH_PORT }}
            script: |
              docker stack rm portfolio_stack
              cd portfolio/
              docker login ghcr.io --username ${{ github.actor }} --password-stdin <<< "${{ secrets.GITHUB_TOKEN }}"
              docker pull ghcr.io/${{ vars.repository_owner }}/portfolio:latest
              docker stack deploy -c compose.prod.yaml portfolio_stack --detach=false
              docker container prune -f
              docker image prune -f
              docker logout ghcr.io

        - name: Wait for deployment
          run: sleep 30

        - name: Check if application is running
          run: |
            curl -f https://kevindb.dev || exit 1