name: Tag Image as Branch-Latest

on:
  workflow_run:
    workflows: ["Build Docker Image"]
    types:
      - completed

jobs:
  tag-latest:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    steps:
    - uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Pull and retag
      run: |
        docker pull ghcr.io/${{ github.repository }}:${{ github.event.workflow_run.head_branch }}-${{ github.run_number }}
        docker tag ghcr.io/${{ github.repository }}:${{ github.event.workflow_run.head_branch }}-${{ github.run_number }} \
          ghcr.io/${{ github.repository }}:${{ github.event.workflow_run.head_branch }}-latest
        docker push ghcr.io/${{ github.repository }}:${{ github.event.workflow_run.head_branch }}-latest
